tensorflow
pandas 
dvc
mlflow
notebook
numpy
matplotlib
seaborn
python-box
pyYAML
tqdm
ensure
joblib
types-PyYAML
scipy
flask
flask-cors
boto3
dagshub
python-dotenv
scikit-learn
streamlit
Pillow
requests
git-filter-repo
-e .